{% set version = 'version-1.0' %}

<div class="holdingBlock">
     <h2 class="govuk-heading-m govuk-!-margin-bottom-0" style="clear: both;">Casework App - Housekeeping merge v1.0</h2>
     <p class="govuk-body govuk-!-margin-bottom-10">Sept 2025</p>
     <p class="govuk-body govuk-!-margin-bottom-10"><a href="/version-1/A-index">OD Staff</a></p>
     <p class="govuk-body govuk-!-margin-bottom-10"><a href="/version-1/A-index?tab=5">Legal</a></p>
     <p class="govuk-body govuk-!-margin-bottom-10"><strong>In this version:</strong></p>
     <ul class="govuk-body govuk-!-margin-bottom-10">
          <li>Iterations to merged prototype</li>
     </ul>
</div>
