<div class="actions_holder">
    <div class="dcf-viewer__toolbar govuk-!-margin-bottom-4 govuk-body">
        {#        <a href="#" id="show_filter_Materials" class="govuk-link" data-module="govuk-button" data-govuk-button-init="" style="">Show #}
        {#            filter</a> #}
        {#        <a href="#" id="close_filter_Materials" class="govuk-link" data-module="govuk-button" data-govuk-button-init="" style="display: none;">Hide #}
        {#            filter</a> #}
        {#        <span aria-hidden="true" class="govuk-!-margin-horizontal-2" data-toolbar-control="close-viewer-separator" style="">&nbsp; | &nbsp;</span> #}
        {#        <a href="#" class="govuk-link" data-action="close-viewer" data-toolbar-control="close-viewer" style="">Close #}
        {#            all documents</a> #}
        {#        <span aria-hidden="true" class="govuk-!-margin-horizontal-2" data-toolbar-control="toggle-full-separator" style="">&nbsp; | &nbsp;</span> #}
        <a href="#"
           class="govuk-link govuk-link--no-visited-state"
           data-action="toggle-full"
           data-toolbar-control="toggle-full"
           aria-pressed="false"
           style="display: none;">View document full width</a>


        {#        <span class="dcf-viewer__toolbar-right"> #}
        {#                        <a href="#" class="govuk-link" data-action="back-to-search" hidden="">Back to search results</a> #}
        {#                        <span aria-hidden="true" class="govuk-!-margin-horizontal-2" data-role="back-to-search-sep" #}
        {#                              hidden="">&nbsp; | &nbsp;</span> #}
        {#                        <span class="dcf-viewer__navcluster" data-role="search-nav"></span> #}
        {#                    </span> #}
        {#        <div class="moj-button-menu"> #}
        {#            <button type="button" class="govuk-button govuk-button--secondary" data-module="govuk-button" #}
        {#                    id="show_Materials_Actions" data-govuk-button-init="" aria-expanded="false"> #}
        {#                Document actions #}
        {#                <svg width="11" height="5" viewBox="0 0 11 5" xmlns="http://www.w3.org/2000/svg"> #}
        {#                    <path d="M5.5 0L11 5L0 5L5.5 0Z" fill="currentColor"></path> #}
        {#                </svg> #}
        {#            </button> #}
        {#            <div class="hidden_buttons" id="materials_Actions" hidden="" style="display: none;"> #}

        {#                #}{# View in new window button #}
        {#                <button type="button" #}
        {#                        class="govuk-button govuk-button--disabled reclassify_Document_Multiple_Docs open-Document" #}
        {#                        data-module="govuk-button" onclick="return openDocumentInNewWindow();" #}
        {#                        data-govuk-button-init=""> #}
        {#                    View in new window #}
        {#                </button> #}
        {#            </div> #}
        {#        </div> #}
    </div>
</div>
