{% extends "layoutCPS-NEW-CASEFILE.html" %}
{% block header %}
{% include "../../includes/from-version-1-0/banner-V7.html" %}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <form id="find-a-case-form" action="/version-1/1-0/A-index/case-search" method="post" novalidate>

            <h1 class="govuk-heading-l govuk-!-margin-bottom-0">Find a case</h1>
            <p class="govuk-body govuk-hint govuk-!-margin-bottom-9">Search and review a CPS case in England and Wales</p>

            <div class="govuk-form-group">
                <h1 class="govuk-label-wrapper">
                    <label class="govuk-label govuk-label--s" for="case-urn-search">
                        Search for a case URN
                    </label>
                </h1>
                <input class="govuk-input govuk-input--width-full" id="case-urn-search" name="caseUrnSearch" type="text" spellcheck="false" aria-describedby="case-urn-search-hint" inputmode="numeric">
            </div>

            <div class="govuk-button-group">
                <button type="submit" class="govuk-button" data-module="govuk-button" id="submit-search">
                    Search
                </button>
                <a class="govuk-link" href="A-index.html#tab_content_3">Cancel</a>
            </div>
        </form>
</div>
{% endblock %}
</div>