{% extends "layout.html" %}
{% set isIndex = true %}

{% block pageTitle %}
    CPS | Case material and communications prototype
{% endblock %}
{% block content %}

<div class="govuk-grid-row index-page">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-xl">Prototype versions and links</span>
        <h1 class="govuk-heading-xl">Case material and communications</h1>

        <h2 class="govuk-heading-m" style="margin-bottom: 0">Current version</h2>
        <p><strong class="govuk-tag govuk-tag--purple">MVP</strong></p>

        <div class="holdingBlock">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-0" style="clear: both;">Version 1.0</h2>
            <p class="govuk-body govuk-!-margin-bottom-10">Sept 2025 to present</p>
            <p class="govuk-body govuk-!-margin-bottom-10"><a href="/version-1/1-0/A-index" class="govuk-link--no-visited-state" target="_blank">View prototype (opens in a new tab)</a></p>
             <p class="govuk-body govuk-!-margin-bottom-10"><strong>In this version:</strong></p>
            <ul class="govuk-body govuk-!-margin-bottom-10">
                <li>Iterations to v0.1 merged prototype for MVP release</li>
            </ul>
        </div>

        <h2 class="govuk-heading-m" style="margin-bottom: 0">Future vision</h2>
        <p><strong class="govuk-tag govuk-tag--blue">Ideation</strong></p>

        <div class="holdingBlock">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-0" style="clear: both;">Version X.0</h2>
            <p class="govuk-body govuk-!-margin-bottom-10">November 2025 to present</p>
            <p class="govuk-body govuk-!-margin-bottom-10"><a href="/version-x/x-0/A-index" class="govuk-link--no-visited-state" target="_blank">View prototype (opens in a new tab)</a></p>
<!--            <p class="govuk-body govuk-!-margin-bottom-10"><strong>In this version:</strong></p>-->
<!--            <ul class="govuk-body govuk-!-margin-bottom-10">-->
<!--                <li>TBC</li>-->
<!--            </ul>-->
        </div>

        <h2 class="govuk-heading-m">Previous versions</h2>
        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-private-beta">
            <div class="govuk-accordion__section">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-private-beta-heading-2">Merging the "Casework App" and "Housekeeping"</span>
                    </h2>
                </div>
                <div id="accordion-private-beta-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-private-beta-heading-1">
                    {% set version = 'version-0' %}
                    <div class="holdingBlock">
                        <h2 class="govuk-heading-m govuk-!-margin-bottom-0" style="clear: both;">Merged prototype v0.1</h2>
                        <p class="govuk-body govuk-!-margin-bottom-10">June - Sept 2025</p>
                        <p class="govuk-body govuk-!-margin-bottom-10"><a href="/version-0/0-housekeeping/A-index">OD Staff</a></p>
                        <p class="govuk-body govuk-!-margin-bottom-10"><a href="/version-0/0-housekeeping/A-index?tab=5">Legal</a></p>
                        <p class="govuk-body govuk-!-margin-bottom-10"><strong>In this version:</strong></p>
                        <ul class="govuk-body govuk-!-margin-bottom-10">
                            <li>Initial merge of prototypes</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="govuk-accordion__section">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-private-beta-heading-1">Design history leading to Private Beta</span>
                    </h2>
                </div>
                <div id="accordion-cps-task-journey-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-cps-task-journey-content-1">

                    <h2 class="govuk-heading-m govuk-!-margin-top-3">
                        Private Beta
                        <span class="govuk-caption-m">21st May 2025 - Present</span>
                    </h2>
                    <p class="govuk-body govuk-!-margin-bottom-10 govuk-body-l">Here is a list of links to some of the design work and prototyping leading up to the private beta which started in May 2025.</p>
                    <h2 class="govuk-heading-m govuk-!-margin-bottom-0" style="clear: both;">CPS task journey</h2>
                    <p class="govuk-body govuk-!-margin-bottom-10">Prior to May 2025</p>
                    <p class="govuk-body govuk-!-margin-bottom-10"><a href="/version-0/6-cps-task-journey/A-dashboard" target="_blank">Dashboard (opens in a new tab)</a></p>
                    <p class="govuk-body govuk-!-margin-bottom-10"><a href="/version-0/6-cps-task-journey/B-casefile" target="_blank">Case file (opens in a new tab)</a></p>
<!--                <p class="govuk-body govuk-!-margin-bottom-10"><strong>In this version:</strong></p>-->
<!--                    <ul class="govuk-body govuk-!-margin-bottom-10">-->
<!--                        <li></li>-->
<!--                    </ul>-->

                    <h2 class="govuk-heading-m govuk-!-margin-bottom-0" style="clear: both;">Move documents</h2>
                    <p class="govuk-body govuk-!-margin-bottom-10"><a href="/version-0/4-move-documents/A-category" target="_blank">What type of document is this? (opens in a new tab)</a></p>
                    <p class="govuk-body govuk-!-margin-bottom-10"><a href="/version-0/4-move-documents/XXX-B-statement-details" target="_blank">Enter the statement details (opens in a new tab)</a></p>
                    <p class="govuk-body govuk-!-margin-bottom-10"><a href="/version-0/4-move-documents/XXX-C-exhibit-details" target="_blank">Enter the exhibit details (opens in a new tab)</a></p>
                    <p class="govuk-body govuk-!-margin-bottom-10"><a href="/version-0/4-move-documents/XXX-D-document-name" target="_blank">Select the document details (opens in a new tab)</a></p>
                    <p class="govuk-body govuk-!-margin-bottom-10"><a href="/version-0/4-move-documents/XXX-F-check-answers" target="_blank">Check your answers (opens in a new tab)</a></p>

                    <h2 class="govuk-heading-m govuk-!-margin-bottom-0" style="clear: both;">Other pages</h2>
                    <p class="govuk-body govuk-!-margin-bottom-10"><a href="/version-0/5-other-pages/1-service-unavailable" target="_blank">Service is unavailable (opens in a new tab)</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}